@model IEnumerable<ExpenseTracker.Models.Expense>


@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Description</th>
                <th>Amount</th>
                <th>Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
               <tr>
                <td>@Html.DisplayFor(modelItem => item.Description) </td>
                <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                <td>@Html.DisplayFor(modelItem => item.Date)</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
               </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Count of expenses: @Model?.Count()</p>

    <p>No expenses found.</p>
}

<a asp-controller="Expense" asp-action="Create">Create New Expense</a>

<a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Back to Home</a>